/* add fonts */
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Numans&display=swap');

#my-canvas{
    background-color : #EDDCD9;  
} 

/* Navbar Start*/
.row{
    flex-basis: 100%;
    display: flex;
}
/* home-aboutme */
#my-navbar{
    padding-right: 100px;
    padding-left: 100px;
    height: min-content;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #F2EBE9;
}

.nav-items{
    display: flex;
    gap: 28px;
    align-items: center;   
    justify-content: left;     
}
.nav-items a{
    color: #DE5499;
    font-family: Numans;
    font-size: 20px;
    display: inline;  
    text-decoration: none;
}
a:hover{
    color: #DE5499;
}

/* Nilsu */

.nav-logo{
    display: flex;
}

.nav-logo b{
    color: #DE5499;
    text-align: center;
    align-items: center;
    font-family: Fascinate Inline;
    font-size: 65px;
    display: block;
}

/* Icons */

.nav-icons{
    align-items: center;
    display: flex;
    justify-content: right;
    gap: 40px;
}

.nav-icons a{
    display: inline;
}
/* Menu Items */
#nav-menu{
    display: none;
    align-items: center;   
    justify-content: right;  
    padding-right: 0px;
}
#menu-btn{
    align-content: right;
    border: none;
    margin-right: 0px;
    padding-right: 0px;
}
#menu-btn img{
    width: 60px;
    height: 60px;
    margin-right: 0px;
    padding-right: 0px;
}

/* Offcanvas Items */
.offcanvas-body{
    background-color: transparent;
}
#menu-list li{
    background-color: transparent;
}
.menu-item a{
    color: #DE5499;
    font-family: Numans;
    font-size: 18px;
    display: inline;  
    text-decoration: none;
}
.menu-offc{
    background-color: #F2EBE9;
    width: 60%;
}
.offcanvas-header{
    background-color: transparent;
}

#contact-btn{
    color: #DE5499;
    font-family: Numans;
    font-size: 18px;
    display: inline;  
    text-decoration: none;
    border: none;
    padding: 0px;
}
#contact-menu{
    background-color: transparent;
    border: none;
}

#contact-menu li a{
    color: #DE5499;
    font-family: Numans;
    font-size: 17px; 
    text-decoration: none;
    border-bottom: 1px solid;
    padding-top: 9px;
    padding-bottom: 9px;
    border-color: gainsboro;


}
#contact-menu li a:hover{
    color: #DE5499;
    background-color: #f5efee ;
}


@media screen and (max-width:1000px) {
    
    #my-navbar{
        padding-right: 70px;
        padding-left: 70px;
    }
    .nav-icons{
        gap: 30px;
    }
}

@media screen and (max-width:850px){
    #my-navbar{
        padding-right: 0px;
        padding-left: 50px;
    }
    .nav-icons{
        display: none;
    }
    .nav-items{
        display: none;   
    }
    /* Menu Items */
    #nav-menu{
        display: flex;
    }
}
@media screen and (max-width:445px) {
    #my-navbar{
        padding-left: 60px;
        padding-right: 60px;
    }
}

/* Navbar End */
