/* add fonts */
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Numans&display=swap');

html, #my-canvas{
    background-color : #EDDCD9;  
    overflow-x: hidden;
    position: relative;
} 
.everything-else{ /* everything else other than navbar */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

/* Navbar Start*/
#navbar-row{
    flex-basis: 100%;
    display: absolute;
}
/* home-aboutme */
#my-navbar{
    padding-right: 100px;
    padding-left: 100px;
    height: min-content;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #F2EBE9;
    z-index: 4;
}

.nav-items{
    display: flex;
    gap: 28px;
    align-items: center;   
    justify-content: left;     
}
.nav-items a{
    color: #DE5499;
    font-family: Numans;
    font-size: 20px;
    display: inline;  
    text-decoration: none;
}
a:hover{
    color: #DE5499;
}

/* Nilsu */

.nav-logo{
    display: flex;
}

.nav-logo b{
    color: #DE5499;
    text-align: center;
    align-items: center;
    font-family: Fascinate Inline;
    font-size: 65px;
    display: block;
}

/* Icons */

.nav-icons{
    align-items: center;
    display: flex;
    justify-content: right;
    gap: 40px;
}

.nav-icons a{
    display: inline;
}
/* Menu Items */
#nav-menu{
    display: none;
    align-items: center;   
    justify-content: between;  
    padding-right: 0px;
}
#menu-btn{
    align-content: right;
    border: none;
    margin-right: 0px;
    padding-right: 0px;
}
#menu-btn img{
    width: 60px;
    height: 60px;
    margin-right: 0px;
    padding-right: 0px;
}

/* Offcanvas Items */
.offcanvas-body{
    background-color: transparent;
}
#menu-list li{
    background-color: transparent;
}
.menu-item a{
    color: #DE5499;
    font-family: Numans;
    font-size: 18px;
    display: inline;  
    text-decoration: none;
}
.menu-offc{
    background-color: #F2EBE9;
    width: 60%;
}
.offcanvas-header{
    background-color: transparent;
}

#contact-btn{
    color: #DE5499;
    font-family: Numans;
    font-size: 18px;
    display: inline;  
    text-decoration: none;
    border: none;
    padding: 0px;
}
#contact-menu{
    background-color: transparent;
    border: none;
}

#contact-menu li a{
    color: #DE5499;
    font-family: Numans;
    font-size: 17px; 
    text-decoration: none;
    border-bottom: 1px solid;
    padding-top: 9px;
    padding-bottom: 9px;
    border-color: gainsboro;


}
#contact-menu li a:hover{
    color: #DE5499;
    background-color: #f5efee ;
}

/* Navbar End */



/* Photo And Hey Start*/


#explanation{
    padding-top: 100px;
    z-index: 2;
}


#hey-header{
    color: #264143;
    font-family: Numans;
    font-size: 65px;
    position: relative;
}
#welcome-prg{
    color: #264143;
    font-family: Numans;
    font-size: 18px;
    position: relative;
}


#my-images{
    z-index: 1;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#headshot-img img{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    right: 24.458px;
    bottom: 18px;
    width: 370px;
    height: 500px;
    position: absolute;
    z-index: 4;
    left: -1px; /* Adjust as needed */
    top: -1px;
}
#bg-rectangle{
    width: 370px;
    height: 500px;
    transform: rotate(-4deg);
    background: #264143;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 3;
}

.image-container{
    width: max-content;
    position: relative;
    margin: 50px;
    padding-right: 10px;
}

.weird-shape{
    width: 250px;
    height: 45.8px;
    transform: rotate(3.1deg);
    position: relative;
    /* z-index: 0; */
    left: -200px; /* Adjust as needed */
    top: -900px;
}


@media screen and (max-width:1000px) {
    
    #my-navbar{
        padding-right: 70px;
        padding-left: 70px;
    }
    .nav-icons{
        gap: 30px;
    }
    .everything-else{
        margin-left: 70px;
        margin-right: 70px;
    }
    
}

@media screen and (max-width:850px){
    #my-navbar{
        padding-right: 0px;
        padding-left: 50px;
    }
    .nav-icons{
        display: none;
    }
    .nav-items{
        display: none;   
    }
    /* Menu Items */
    #nav-menu{
        display: flex;
    }
    .everything-else{
        margin-left: 50px;
        margin-right: 50px;
    }
    .weird-shape{
        top: -1000px;
    }
    
}
@media screen and (max-width:768px) {
    .weird-shape{
        top: -1250px;
    }
    #explanation{
        padding-top: 10px;
    }
}

@media screen and (max-width:445px) {
    #my-navbar{
        padding-left: 60px;
        padding-right: 60px;
    }
    .everything-else{
        margin-left: 20px;
        margin-right: 20px;
    }
    .weird-shape{
        top: -1300px;
    }
}


